@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
    margin: 0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* Container */

.container {
    width: 100%;
    max-width: 1400px;

    margin: 0 auto;
}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;
    padding-top: 83px;

    background: url('../index/images/intro.jpg') center no-repeat;
    background-size: cover;
}

.intro__title {
    color: #fff;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 65px;
    opacity: 0.8;
    text-transform: uppercase;
    line-height: 1;
    padding-bottom: 20px;
}

.intro__subtitle {
    color: #fff;
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    opacity: 0.8;
}

.intro__inner {
    width: 100%;
    max-width: 700px;
}

/* Header */

.header {
    position: absolute;
    height: 83px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: black;
    width: 100%;

    opacity: 0.7;
}

.header__logo {
    color: #fff;
    font-family: 'Lobster', cursive;

    font-size: 50px;

    padding: 10px 0px;
}

.header__inner {
    display: flex;
    justify-content: space-between;

    align-items: center;
}

/* Nav */

.nav {
    display: flex;
    font-size: 30px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    position: relative;
    margin-left: 30px;

    color: #fff;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;

    transition: text-shadow 0.2s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:after {
    content: '';
    opacity: 0;
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;

    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.2s linear;
}

.nav__link:hover {
    text-shadow: 0 0 1.2px #fff, 0 0 1.2px #fff;
}

.nav__link:hover:after {
    opacity: 1;
}

.nav__active {
    text-shadow: 0 0 0.9px #fff, 0 0 0.9px #fff;
}
