@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;1,700&display=swap');


body {
    margin: 0;
    background-color: rgb(236, 236, 236);
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* Container */

.container {
    width: 100%;
    max-width: 1400px;

    margin: 0 auto;
}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;
    padding-top: 83px;

    background: url('../index/images/intro.jpg') center no-repeat;
    background-size: cover;
}

.intro__title {
    color: #fff;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 65px;
    opacity: 0.8;
    text-transform: uppercase;
    line-height: 1;
    padding-bottom: 20px;
}

.intro__subtitle {
    color: #fff;
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    opacity: 0.8;
}

.intro__inner {
    width: 100%;
    max-width: 700px;
}

/* Header */

.header {
    position: absolute;
    height: 83px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: black;
    width: 100%;

    opacity: 0.8;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.header__logo {
    color: #fff;
    font-family: 'Lobster', cursive;

    font-size: 50px;

    padding: 10px 0px;
}

.header__inner {
    display: flex;
    justify-content: space-between;

    align-items: center;
}

/* Nav */

.nav {
    display: flex;
    font-size: 30px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    position: relative;
    margin-left: 30px;

    color: #fff;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;

    transition: text-shadow 0.2s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:after {
    content: '';
    opacity: 0;
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;

    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.2s linear;
}

.nav__link:hover {
    text-shadow: 0 0 1.2px #fff, 0 0 1.2px #fff;
}

.nav__link:hover:after {
    opacity: 1;
}

.nav__active {
    text-shadow: 0 0 0.9px #fff, 0 0 0.9px #fff;
}

/* Section */

.section {
    padding-top: 70px;
    padding-bottom: 20px;
}

.section__inner {
    display: flex;
}

.section__block {
    width: 50%;

    margin: 15px;
    margin-right: 0;

}

.section__title {
    color: black;
    font-family: 'Lobster', cursive;
    font-size: 35px;
    opacity: 0.8;
}

.section__text {
    color: black;
    font-family: 'Lobster Two', cursive;
    font-size: 25px;
}

.section__image {

    height: 400px;

    background: url(/index/images/section_img.jpg);
    background-size: cover;
    background-position: center;

    border-radius: 9px;
}

/* Special menu */

.special_menu__title_block {
    margin-top: 10px;
    margin-bottom: 10px;
}

.special_menu__title {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 65px;
}

.slaider {
    margin-top: 20px;
    margin-bottom: 50px;

    display: flex;
    justify-content: space-between;
}

.slider__item {

    height: 300px;
    width: 100%;
    max-width: 400px;
    margin-left: 10px;
    margin-right: 10px;

    background: url(/index/images/slider.jpg);
    background-size: cover;
    background-position: center;

    border-radius: 9px;
    
    position: relative;
}

.slider__item:hover .slider__content {
    display: block;
}

.slider__content {

    text-align: center;
    
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0; 

    height: 100%;
    width: 100%;

    opacity: 0.7;
    background-color: rgb(63, 63, 63);
    color: white;

    border-radius: 9px;
}

.slider__content_title {
    margin-top: 30px;
    font-family: 'Lobster', cursive;
    font-size: 35px;
}

/* footer */

.footer {

    width: 100%;
    height: 300px;

    background: url('../index/images/footer_background.jpg') center no-repeat;
    background-size: cover;
}

.footer__black {
    background-color: #000;
    z-index: 3;
    opacity: 0.8;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 300px;
    /* background-color: #fff; */
    z-index: 3;
}

.footer__section {
    width: 25%;
    height: 300px;

    /* background-color: blue; */
    padding: 40px;
}

.footer__title {
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    opacity: 0.8;
}

.footer__info {
    color: #fff;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

.footer__social {
    display: flex;
    justify-content: left;
    width: 100%;
}



.footer__contact_block {
    display: flex;
    justify-content: left;

    width: 100%;
}

.footer__open_hours_block {
    width: 100%;
}

.footer__time {
    margin-top: -20px;
    opacity: 0.7;
}

.footer__logo {
    width: 17px;
    height: 17px;
    
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
}

.large_logo {
    width: 23px;
    height: 23px;
    margin-left: 15px;
}