.categoryItem {
    text-align: center;
    border: black solid 1px;
    margin-bottom: 20px;
}

.categoryItem__name {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Lobster", cursive;
}

.categoryItem__time_p {
    font-family: "Lobster", cursive;
}
