.full_height {
    min-height: 100vh;
}

.menu_content {
    text-align: center;
}

.menu__first_section {
    margin-top: 110px;
    margin-bottom: 50px;
}

.menu_title {
    font-family: "Amatic SC", cursive;
    text-transform: uppercase;

    font-size: 50px;
}

.menu__dropdown_section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

/* ********************************************************* */

.menu__items_row {
    display: flex;
    justify-content: space-between;
}

.menu__item {
    width: 30%;
    height: 400px;
    background-color: rgb(236, 236, 236);
}

.menu__item_img {
    width: 100%;
    border-radius: 9px;
}

.menu__item_inner {
    border: #000 solid;
    border-radius: 9px;
    width: 100%;
    height: 100%;
}
