.product {
    width: 30%;
    height: 460px;
    background-color: rgb(236, 236, 236);
}

.product__container {
    display: flex;
}

.product_img {
    width: 100%;
    height: 50%;
    border-radius: 9px;
}

.product_inner {
    border: #000 solid;
    border-radius: 9px;
    width: 100%;
    height: 100%;
}

.product_name {
    font-family: "Lobster", cursive;
}

.product_ingredients {
    color: #000;
    font-family: "Lobster", cursive;
    padding-left: 15px;
    padding-right: 15px;
}

.product_weight {
    font-family: "Lobster", cursive;
}

.product_last_section_content {
    justify-content: center;
}

.product_price {
    margin-right: 40px;
    font-family: "Lobster", cursive;
    font-size: 30px;
}

.product_buy_btn {
    margin-left: 40px;
    font-size: 30px;
    font-family: "Lobster", cursive;
    background: none;
    border: #000 solid 2px;
    border-radius: 9px;
    padding-left: 15px;
    padding-right: 15px;
}

.product_buy_btn:hover {
    text-decoration: underline;
    cursor: pointer;
}
