.nav__link {
    position: relative;
    margin-left: 30px;
    display: inline-block;

    color: #fff;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;

    transition: text-shadow 0.2s linear;
}

.link_position:first-child {
    margin-left: 0;
}

.nav__link:after {
    content: '';
    opacity: 0;
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;

    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.2s linear;
}

.nav__link:hover {
    text-shadow: 0 0 1.2px #fff, 0 0 1.2px #fff;
}

.nav__link:hover:after {
    opacity: 1;
}

.nav__active {
    text-shadow: 0 0 0.9px #fff, 0 0 0.9px #fff;
}

