.footer {
    width: 100%;
    height: 300px;

    background: url("../../static/images/index/footer_background.jpg") center
        no-repeat;
    background-size: cover;
}

.footer__black {
    background-color: #000;
    z-index: 3;
    opacity: 0.8;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 300px;
    z-index: 3;
}

.footer__section {
    width: 25%;
    height: 300px;

    padding: 40px;
}

.footer__title {
    color: #fff;
    font-family: "Lobster", cursive;
    font-size: 30px;
    opacity: 0.8;
}

.footer__info {
    color: #fff;
    font-family: "Amatic SC", cursive;
    font-size: 20px;
}

.footer__social {
    display: flex;
    justify-content: left;
    width: 100%;
}

.footer__contact_block {
    display: flex;
    justify-content: left;

    width: 100%;
}

.footer__open_hours_block {
    width: 100%;
}

.footer__time {
    margin-top: -20px;
    opacity: 0.7;
}

.footer__logo {
    width: 17px;
    height: 17px;

    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
}

.large_logo {
    width: 23px;
    height: 23px;
    margin-left: 15px;
}
