.slider {
    position: relative;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

.slider__container {
    position: relative;
}

.image {
    height: 500px;
    width: 800px;
    border-radius: 10px;
}

.slider__container:hover .slider__content {
    display: block;
}

.slider__content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 99%;
    opacity: 0.5;
    text-align: center;
    background-color: rgb(63, 63, 63);
    color: white;
    display: none;
    border-radius: 9px;
}

.slider__content_title {
    margin-top: 65px;
    font-family: "Lobster", cursive;
    font-size: 50px;
}

.right_arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left_arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 2s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 2s;
    transform: scale(1.08);
}
