.header {
    position: absolute;
    height: 83px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: black;
    width: 100%;

    opacity: 0.8;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.header__logo {
    color: #fff;
    font-family: 'Lobster', cursive;

    font-size: 50px;

    padding: 10px 0px;
}

.header__inner {
    display: flex;
    justify-content: space-between;

    align-items: center;
}